<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>  
    <appSettings>        
        <add key="TimerInterval" value="1000"/>      
        <add key="TestRun" value="D:\TFS\FS-TeamMate\TeamMate\NGbranches\tmplus3.1_cycle14\NextGen\Tests\NGAutomation\TeamMate.Console\bin\Debug\TeamMate.Console.exe"/>
        <add key="DebugSleep" value="20000"/>
        <add key="ManyRun" value="false"/>
    </appSettings>
</configuration>